
.custom-button {
    background-color: #007bff; /* Cor de fundo azul */
    color: white; /* Cor da fonte branca */
    border: none; /* Remove a borda padrão */
    padding: 10px 20px; /* Adiciona espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    transition: all 0.3s ease; /* Transição suave para efeito de hover */
    border-radius: 5px; /* Borda arredondada */
  }
  
  .custom-button:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Cria o efeito de relevo */
    transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
  }
  
  .custom-button:focus {
    outline: none; /* Remove o contorno quando o botão é clicado */
  }
  

  /* Estilizando os form-control */
.form-group {
  margin-bottom: 1rem;  /* Espaçamento entre os campos */
}

.form-control {
  //width: 98%;  /* Faz os inputs ocuparem a largura total */
  padding: 0.75rem;  /* Ajuste de padding para os inputs */
  border-radius: 0.25rem;  /* Bordas arredondadas */
  border: 1px solid #ccc;  /* Cor da borda */
}

/*button[type="submit"], .btn.custom-button {
  width: 100%;  /* Faz os botões ocuparem a largura total 
  padding: 0.75rem;  /* Ajuste no padding dos botões 
  background-color: #28a745;  /* Cor do botão 
  color: white;  /* Cor do texto do botão 
  border-radius: 0.25rem;  /* Bordas arredondadas 
  border: none;  /* Remove bordas padrões do botão 
  cursor: pointer;  /* Cursor pointer para indicar que o botão é clicável 
}

button[type="submit"]:hover, .btn.custom-button:hover {
  background-color: #218838;  /* Cor do botão ao passar o mouse 
}*/
