<!-- app.component.html -->
<header>
    <nav>
        <div class="container">
            <h1>Bem-vindo ao Atendimento</h1>
            <div class="options">
                <button (click)="buscaCanais($event)" value="chat" *ngIf="showButtons">Chat Web</button>
                <button (click)="buscaCanais($event)" value="sms" *ngIf="showButtons">SMS</button>
                <button (click)="buscaCanais($event)" value="whatsapp" *ngIf="showButtons">WhatsApp</button>
                <button (click)="buscaCanais($event)" value="customer-account" *ngIf="showButtons">Minha Conta</button>
                <button (click)="buscaCanais($event)" value="voltar">Voltar tela inicial</button>
            </div>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>