<!-- app.component.html -->
<header>
    <nav>
        <div class="container">
            <h1>Bem-vindo ao Atendimento</h1>
            <p>Escolha uma opção para continuar:</p>

            <div class="options">
                <button (click)="buscaCanais($event)" value="chat">Chat Web</button>
                <button (click)="buscaCanais($event)" value="sms">SMS</button>
                <button (click)="buscaCanais($event)" value="whatsapp">WhatsApp</button>
                <button (click)="buscaCanais($event)" value="customer-account">Minha Conta</button>
            </div>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>